<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @discipline.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @discipline.type %>
</p>

<%= link_to 'Edit', edit_discipline_path(@discipline) %> |
<%= link_to 'Back', disciplines_path %>
